@mixin marker ($color: yellow) {
    &:before {
        content: '';
        width: 35px;
        height: 35px;
        display: block;
        position: absolute;
        top: -12px;
        left: -17px;
        z-index: -1;
        background: url(../img/marker_#{$color}.svg) no-repeat;
    }
}

@mixin titleMini ($color: yellow) {
    position: relative;
    margin: 0 auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: $fontColor;
    width: fit-content;
    @include marker($color);
}