$fontColor: #222222;
$secFontColor: #404756;
$btnColor: #F7859C;
$lightYellow: #FFDBB4;
$lightViolet: #9093D1;
$lightGreen: #9FD8E5;
$lightOrange: #FF8961;
$lightSkinny: #FFDBB4;
$lightPink: #FDDBE2;
$lightRed: #F7859C;
$mainBgColor: #E5E5E5;
$secondBgColor: #FBF1E6;

