@import 'libs/bootstrap-reboot';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
body {
    background-color: rgba(229, 229, 229, 0.144);
}

.container {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

@import 'blocks/titles';
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/button';
@import 'blocks/promo';
@import 'blocks/meeting';
@import 'blocks/exclusive';
@import 'blocks/roadmap';
@import 'blocks/team';
@import 'blocks/faq';
@import 'blocks/footer';


