.btn {
    background-color: $btnColor;
    border: none;
    height: 45px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 9px 28px;
}