.faq {
    margin-top: 212px;
    &__title {
        margin-top: 4px;
        position: relative;
        z-index: 2;
        &:before {
            position: absolute;
            z-index: -1;
            width: 193px;
            height: 283px;
            content: '';
            left: -170px;
            top: -100px;
            background: url(../img/traces_questions.svg) no-repeat center / contain;
        }
        &_mini {
            @include titleMini(blue)
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 77px;
        padding-bottom: 28px;
    }
    &__item {
        padding: 29px 0 35px;
        position: relative;
        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            background-color: #40475661;
            top: 0;
            left: 0;
        }
        &:last-child:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            background-color: #40475661;
            bottom: 0;
            left: 0;
        }

    }
    &__question {
        font-family: 'Montserrat';
        font-size: 24px;
        line-height: 22px;
        color: $fontColor;
        @include accordeonPlus;
        z-index: 2;
        position: relative;
    }
    &__answer {
        width: 90%;
        margin: 0 auto;
        font-family: 'Montserrat';
        color: black;
        line-height: 1px;
        padding-top: 0;
        font-size: 0;
        opacity: 0;
        transition: opacity .25s,
                    font-size .5s .25s,
                    padding-top .5s .25s,
                    line-height .5s .25s;
        &_active {
            font-size: 20px;
            opacity: 1;
            padding-top: 30px;
            line-height: 26px;
            transition: font-size .25s,
                        padding-top .25s,
                        opacity .5s .25s,
                        line-height .25s;
        }
    }
}