.footer {
    margin-top: 191px;
    @include topWaveBorder (blue);
    background-color: $lightBlue;
    position: relative;

    &__wrapper {
        display: grid;
        grid-template-columns: 435px 105px;
        justify-content: space-between;
        padding: 89px 0 23px;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background: rgba(64,71,86,.6);
            top: 174px;
            left: 0;
        }
    }
    &__title {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 65px;
        line-height: 58px;
        color: $fontColor;
        position: relative;
        &:before {
            position: absolute;
            width: 156px;
            height: 196px;
            content: '';
            left: -146px;
            top: -90px;
            background: url(../img/traces_follow.svg) no-repeat center / contain;
        }
    }
    &__links {
        margin-top: 38px;
        display: flex;
        justify-content: flex-start;
        gap: 44px;
        flex-direction: row;
    }
    &__link {
        font-size: 18px;
        line-height: 25px;
        a {
            color: $secFontColor;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__nav{
        &-title {
            @include titleMini(blue);
            z-index: 1;
            margin-top: 43px;
        }
        &-menu {
            margin-top: 28px;
            display: flex;
            flex-direction: column;
            gap: 11px;
        }
        &-menuitem {
            & a {
                font-size: 18px;
                line-height: 25px;
                color: $secFontColor;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}