.header {
    margin: 28px 67px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    &__logo {
        position: relative;
        width: 59px;
        height: 59px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
    }
    &__img {
        z-index: 1;
    }
    &__hamburger {
        display: none;
        margin-top: 10px;
        width: 30px;
        height: 20px;
        position: absolute;
        top: 0px;
        right: 0px;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        span {
            background-color: $btnColor;
            height: 4px;
            opacity: 1;
            transition: all 0.5s;
            z-index: 2;
        }
        &.active {
            span {
                &:first-child {
                    transform: rotate(-45deg) translateY(11px) translateX(-2px);
                }
                &:nth-child(2n) {
                    opacity: 0;
                }
                &:last-child {
                    transform: rotate(45deg) translateY(-9px);
                }
            }
        }
    }
}