@media (max-width: 1200px) {
    .container {
        width: 960px
    }
    .promo {
        &__bg {
            &-left {
                height: 110%;
            }
            &-right {
                height: 90%;
            }
        }
    }
    .meeting {
        margin-top: 190px;
        &__wrapper {
            margin-top: 70px;
            column-gap: 60px;
            grid-template-columns: 350px 550px;
        }
        &__item {
            padding-right: 20px;
        }
    }
    .title {
        &_big {
            font-size: 48px;
        }
    }
    .exclusive {
        &__item {
            padding-top: 100px;
            padding-bottom: 50px;
            &:before {
                top: 30px;
            }
            &:last-child::after{
                bottom: 10px;
            }
        }
    }
    .roadmap {
        margin-top: 220px;
        &__wrapper {
            margin-top: 70px;
            row-gap: 80px;
        }
        &__level{
            &_girl {
                &:before {
                    left: 720px;
                }
            }
            &_sittinggirl {
                &:before {
                    left: 720px;
                }
            }
            &_twoguys {
                &:before {
                    left: 670px;
                }
            }
        }
    }
    .team {
        margin-top: 150px;
        padding-top: 80px;
        padding-bottom: 80px;
        &__wrapper {
            column-gap: 30px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px
    }
    .promo {
        padding-top: 90px;
        &__bg {
            &-left {
                height: 90%;
                top: 50px;
            }
            &-right {
                height: 80%;
                top: 50px;
                right: -10px;
            }
        }
        &__title {
            font-size: 70px;
            line-height: 65px;
            &_mini {
                font-size: 16px;
            }
        }
        &__descr {
            font-size: 16px;
            line-height: 20px;
            width: 400px;
        }
    }
    .header {
        &__hamburger {
            display: flex;
        }
    }
    .menu {
        position: fixed;
        font-size: 22px;
        flex-direction: column;
        background-color: $menuBgColor;
        width: 250px;
        height: 100vh;
        top: 0;
        left: -100%;
        transition: all 0.5s;
        z-index: 2;
        padding-top: 100px;
        &:before {
            content: '';
            position: fixed;
            width: calc(100% - 250px);
            height: 100vh;
            right: -100%;
            top: 0;
            z-index: 2;
            background-color:rgba(128, 128, 128, 0.233);
            transition: all 0.5s;
        }
        &_active {
            left: 0%;
            &:before {
                right: 0;
            }
        }
    }
    .meeting {
        margin-top: 130px;
        &__wrapper {
            margin-top: 70px;
            column-gap: 0;
            grid-template-columns: 250px 450px;
            grid-template-rows: repeat(3,minmax(120px,auto));
        }
        &__item {
            padding: 12px 15px 12px 0;
            &-title {
                font-size: 20px;
                line-height: 18px;
                &_mini {
                    font-size: 16px;
                }
            }
            &-descr {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    
    .title{
        &_big {
            font-size: 40px;
        }
    }
    .exclusive {
        margin-top: 150px;
        padding-top: 70px;
        &__title {
            &_mini {
                font-size: 16px;
            }
        }
        &__item{
            &-text {
                width: 400px;
            }
            &-img {
                width: calc(100% - 400px);
                img {
                    width: 100%;
                    display: inline-block;
                }
            }
        }
    }
    .roadmap {
        margin-top: 180px;
        &__title {
            &_mini {
                font-size: 16px;
            }
        }
        &__wrapper {
            margin-top: 50px;
        }
        &__level {
            column-gap: 50px;
            &_traced {
                &:before {
                    left: 510px;
                }
            }
            &_girl {
                &:before {
                    left: 570px;
                    width: 128px;
                    background-size: contain
                }
            }
            &_sittinggirl {
                &:before {
                    left: 580px;
                    width: 150px;
                    background-size: contain
                }
            }
            &_twoguys {
                &:before {
                    left: 560px;
                    width: 180px;
                    background-size: contain
                }
            }
        }
    }
    .team {
        margin-top: 110px;
        padding-top: 60px;
        padding-bottom: 60px;
        &__title {
            &_mini {
                font-size: 16px;
            }
        }
        &__wrapper {
            margin-top: 50px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 330px);
            grid-auto-rows: 330px;
            column-gap: unset;
            row-gap: 40px;
            justify-items: center;
        }
        &__employee {
            img {
                height: 250px;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px
    }
    .promo {
        padding-top: 50px;
        &__bg {
            &-left {
                height: 90%;
                left: 5px
            }
            &-right {
                height: 80%;
            }
        }
        &__text {
            width: 520px;
        }
        &__title {
            font-size: 50px;
            line-height: 45px;
            &_mini {
                font-size: 14px;
            }
        }
        &__descr {
            font-size: 15px;
            line-height: 18px;
            width: 240px;
            margin-top: 20px;
        }
    }
    .meeting {
        margin-top: 100px;
        &__wrapper {
            margin-top: 50px;
            row-gap: 20px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: minmax(120px,auto) 666px;
            grid-auto-rows: auto;
        }
        &__img {
            grid-column: unset;
            grid-row: unset;
        }
        &__item {
            padding: 12px 15px;
            border-bottom: none;
            border-right: 1px solid rgba(64,71,86,.6);
            &:nth-child(3n) {
                border-right: none;
            }
            &-title {
                text-align: center;
            }
            &-descr {
                font-size: 14px;
                line-height: 17px;
            }
        }
        &__img {
            grid-row: 2/3;
            grid-column: 1/4;
            background-position: 0px -10px;
        }
        &__title {
            &_mini {
                font-size: 14px;
            }
        }
    }
    .title{
        &_big {
            font-size: 35px;
        }
    }
    .exclusive {
        padding-top: 10px;  
        &__item {
            &-text {
                width: 350px;
            }
            &-level {
                font-size: 26px;
            }
            &-visual {
                margin-top: 20px;
            }
            &-descr {
                margin-top: 20px;
                font-size: 16px;
                line-height: 22px;
            }
            &-img {
                width: calc(100% - 350px)
            }
        }
        &__title {
            &_mini {
                font-size: 14px;
            }
        }
    }
    .roadmap {
        &__title {
            &_mini {
                font-size: 14px;
            }
        }
        &__wrapper {
            margin-top: 40px;
            row-gap: 40px;
            grid-template-rows: repeat(6,400px);;
            grid-auto-rows: 400px;
        }
        &__level {
            grid-template-columns: 75px 430px;
            column-gap: 20px;
            &::before {
                width: 130px;
                height: 90px;
                background-size: contain;
                background-position: 50%;
                left: 400px;
                top: 20px;
            }
            &-status {
                margin-top: 90px;
            }
            &-descr {
                background-size: contain;
                background-position: 50%;
            }
            &-subtitle {
                font-size: 16px;
                width: 285px;
            }
            &-title {
                font-size: 26px;
                width: 285px;
            }
            &-text {
                font-size: 16px;
                line-height: 22px;
                width: 285px;
            }
            &_girl, &_sittinggirl, &_twoguys {
                &:before {
                    width: 140px;
                    height: 140px;
                }

            }
        }
    }
    .team {
        margin-top: 80px;
        padding-top: 40px;
        padding-bottom: 40px;
        &__title {
            &_mini {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_big {
            font-size: 24px;
            line-height: 24px;
        }
    }
    .promo {
        padding-top: 20px;
        &__text {
            width: 100%;
        }
        &__bg {
            &-left {
                height: 80%;
                top: 200px;
                left: -5px;
            }
            &-right {
                height: 70%;
                top: 210px;
            }
        }
        &__title {
            font-size: 35px;
            line-height: 38px;
            &_mini {
                font-size: 10px;
            }
        }
        &__descr {
            font-size: 14px;
            line-height: 16px;
            width: 80%;
        }
    }
    .header {
        margin: 0 10px;
    }
    .btn {
        height: 35px;
        padding: 4px 20px;
        font-size: 15px;
    }
    .menu {
        width: 100%;
        &:before {
            width: 0;
        }
    }
    .meeting {
        margin-top: 200px;
        &__title{
            &_mini {
                font-size: 10px;
            }
        }
        &__wrapper {
            margin-top: 25px;
            grid-template-columns: 1fr; 
            grid-template-rows: auto;
            row-gap: 0;
        }
        &__item {
            border-right: none;
            border-bottom: 1px solid rgba(64,71,86,.6);
            padding-bottom: 0;
        }
        &__img {
            grid-column: unset;
            grid-row: unset;
            min-height: 300px;
            background-position: 80%;
            background-size: contain;
        }
    }
    .exclusive {
        &:before {
            min-height: 50px;
            top: -50px;
        }
        &:after {
            min-height: 100px;
            bottom: -100px;
        }
        margin-top: 80px;
        &__title {
            &_mini {
                font-size: 12px;
                margin-left: 10px;
            }
        }
        &__item {
            padding-top: 50px;
            padding-bottom: 0;
            flex-direction: column;
            width: 100%;
            &-text {
                width: 100%;
            }
            &-img {
                width: 50%;
                text-align: center;
                margin-top: 20px;
            }
            &-level {
                font-size: 20px;
            }
            &-visual {
                font-size: 16px;
            }
            &-descr {
                font-size: 14px;
                line-height: 17px;
            }
            &:last-child::after{
                bottom: -20px;
            }
        }
    }
    .roadmap {
        margin-top: 100px;
        &__title {
            &_mini {
                font-size: 12px;
            }
        }
        &__wrapper {
            margin-top: 20px;
            grid-template-rows: repeat(6,350px);
            grid-auto-rows: 350px;
            row-gap: 0;
        }
        &__level {
            grid-template-columns: 1fr;
            &-status {
                display: none;
            }
            &:before {
                left: 190px;
            }
            &-subtitle {
                text-align: center;
            }
            &-title {
                text-align: center;
            }
            &-text {
                text-align: center;
                margin: 0;
                margin-bottom: 20px;
                width: auto;
                padding: 0 30px 0 30px;
            }
            &_traced {
                &:before {
                    width: 90px;
                }
            }
            &_girl, &_sittinggirl, &_twoguys {
                &:before {
                    top: -40px;
                }
            }
        }
    }
    .team {
        margin-top: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
        &:before {
            min-height: 100px;
            top: -100px;
        }
        &:after {
            min-height: 80px;
            bottom: -80px;
        }
        &__title {
            &_mini {
                font-size: 12px;
            }
        }
        &__wrapper {
            margin-top: 30px;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 250px);
            grid-auto-rows: 250px;
            row-gap: 20px;
        }
        &__employee {
            img {
                height: 180px;
            }
        }
        &__vacancy {
            margin-top: 12px;
            font-size: 14px;
        }
        &__name {
            font-size: 24px;
        }
    }
}