.menu {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    &__item {
        a {
            color: $fontColor;
            &:hover {
                text-decoration: none;
            }
        }
    }
}