.team {
    margin-top: 200px;
    position: relative;
    background: $lightPink;
    z-index: 0;
    padding-top: 139px;
    padding-bottom: 125px;
    
    @include topWaveBorder(pink);
    @include bottomWaveBorder(pink);

    &__title {
        margin-top: 4px;
        &_mini {
            @include titleMini(pink)
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 410px);
        column-gap: 50px;
        row-gap: 90px;
        grid-auto-rows: 410px;
        margin-top: 80px;
    }
    &__vacancy {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        color: $fontColor;
        text-align: center;
        margin-top: 24px;
    }
    &__name {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 36px;
        line-height: 32px;
        color: $fontColor;
        text-align: center;
        margin-top: 6px;
    }
}